.App {
  text-align: center;
}

.App-container {
  margin: 0 auto;
}

.App-header {
  color: black;
  height: 80px;
  padding: 20px;
}

.App-cell-row {
  margin-top: 5px;
}

.App-cell-grid {
  display: block;
  margin: 20px 0;
}

.App-cell-grid-title {
  margin-bottom: 0px;
}
