.Cell {
  cursor: pointer;
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  perspective: 1000px;
  position: relative;
  width: 50px;
}

.Cell-flipper {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 300ms;
  width: 50px;
}

.Cell-panel {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.Cell-flip-enter {
  transform: rotateY(180deg);
}

.Cell-flip-enter.Cell-flip-enter-active {
  transform: rotateY(0deg);
}

.Cell-flip-leave {
  transform: rotateY(0deg);
}

.Cell-flip-leave.Cell-flip-leave-active {
  transform: rotateY(180deg);
}
