.Settings {
  text-align: center;
}

.Settings-dropdowns {
  display: flex;
  justify-content: center;
}

.Settings-dropdown {
  margin: 5px 10px;
}

.Settings-button {
  background-color: #ccc;
  background-image: linear-gradient(
    to right top,
    hsl(191, 65%, 40%),
    hsl(191, 65%, 60%)
  );
  border-radius: 5px;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 10px;
  margin: 2px 5px;
}
